$colorWhite: #FFF;
$colorBlack: #000;
$colorGrayLight: #cbcbcb;
$colorGray: #817D7DCC;

$colorShadow: #E5E5E5FF;

$colorBlueDark: #0A192B;
$colorBlue: #15355C;
$colorBlueLight: #225695;

$colorCyan: #02DDA5;
