.tooltip {
  position: relative;
  width: 100%;
}

.tooltip__info {
  position: absolute;
  font-weight: 600;
  top: -30px;
  color: #6b7280;
  background-color: white;
  border: 1px solid #35393b;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &_theme_dark {
    background-color: #35393b;
    color: #fff;
  }
}
