.spinner {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite;

  &_theme_dark {
    border: 5px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
