.page {
  height: 30px;
  width: 26px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #acd7e5;
  }

  &_theme_dark {
    background-color: #35393b;
    color: #fff;
  }

  &_active {
    background-color: #acd7e5;
    cursor: no-drop;
  }
}
