.main {
  height: 100%;
  width: 100%;
  padding: 30px 0;

  .main__header {
    font-size: 38px;
    line-height: 1.5;
    transition: color 0.3s ease;

    &_theme_dark {
      color: #FFF;
    }
  }
}
