@import "nullstyle.css";

:root {
    --color-green: #009a58;
    --color-white: #fff;
    --color-gray-dark: #75777d;
    --color-gray: #c2c2c2;
    --color-gray-light: #f2f2f2;
    --color-blue: #51a7d0;

    --color-dark: #35393b;
    --color-green-dark: #006439;
}

/*****
Тело
******/
.body {
    font-family: "Arial", sans-serif;
}

.body_theme_dark {
    background-color: var(--color-dark);
}

/*****
Обертка (для размещения сетки)
******/
.wrapper {
    height: 100%;
}

.wrapper__container {
    margin: auto;
    max-width: 1230px;
    padding: 0 15px;
    height: 100%;
}

.wrapper__grid {
    display: grid;
    min-height: 100%;
    grid-template-columns: [col-1] 240px [col-2] 1fr;
    grid-template-rows: [row-1] minmax(20px, auto) [row-2] 1fr [row-3] minmax(20px, auto);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
            'header header'
            'sidebar main'
            'footer footer';
}

.header, .footer, .sidebar, .main {
    padding: 15px 20px;
}

/*****
Шапка - элемент сетки
******/
.header {
    grid-area: header;
    background-color: var(--color-green);
}

.header_theme_dark {
    background-color: var(--color-green-dark);
}

.header__body {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__text {
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;
}

.header__text_theme_dark {
    color: var(--color-gray);
}

/*****
Сайдбар (область фильтра продукции) - элемент сетки
******/
.sidebar {
    grid-area: sidebar;
    background-color: var(--color-gray-light);
}

/*****
Основная область - элемент сетки
******/
.main {
    grid-area: main;
    background-color: var(--color-gray);
}

/*****
Подвал - элемент сетки
******/
.footer {
    grid-area: footer;
    background-color: var(--color-gray-light);
}

.footer_theme_dark {
    background-color: var(--color-gray-dark);
}

.footer__body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer__text {
    font-size: 16px;
    color: var(--color-gray-dark);
}

.footer__text_theme_dark {
    color: var(--color-gray);
}

@media (max-width: 768px) {
    .header__text {
        font-size: 18px;
    }
}

@media (max-width: 520px) {
    .main {
        grid-column-start: span 2;
    }
    .sidebar {
        display: none;
    }

    .footer__text {
        font-size: 14px
    }
}

@media (max-width: 480px) {
    .header__text {
        font-size: 16px;
    }

    .footer__body {
        flex-direction: column;
    }

    .footer__text:not(:last-child) {
        padding-bottom: 10px;
    }
}